
@import url('root.css');
/* Dashboard Layout */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/* Widgets Container */
.widgets-container {
    display: flex;
    gap: var(--spacing-md);
    flex-wrap: wrap;
}

/* Individual Widgets */
.widget {
    background: var(--text-light);
    padding: var(--spacing-md);
    width: 250px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.chart-widget {
    position: relative;
    height: 400px;  /* Adjust height as needed */
    width: 500px;    /* Ensure the container takes the full width */
    max-width: 100%;
    background: var(--text-light);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}


#financialChart {
    width: 100% !important;  /* Ensure the canvas takes the full width of the container */
    height: 100% !important; /* Ensure the canvas takes the full height of the container */
}


.transactions-widget {
    background: var(--text-light);
    padding: var(--spacing-md);
    width: 320px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.transactions-widget span {
    color: var(--accent-color);
}

.widget:hover {
    transform: scale(1.03);
}

.widget h3 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-sm);
}

/* Transactions List */
.transactions-widget ul {
    list-style: none;
    padding: 0;
}

.transactions-widget ul li {
    color: var(--text-dark);
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-xs);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    text-decoration: none;
}

/* Budget Status */
.widget p {
    font-size: var(--font-size-base);
    margin: var(--spacing-xs) 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .main-content {
        padding: var(--spacing-md);
    }
}
