body {
    font-family: Arial, sans-serif;
    background-color: #f8fdf6; /* Light greenish background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form {
    background: #fff;
    padding: 20px;
    width: 500px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #4CAF50;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
